@font-face {
    font-family: 'lycans';
    src: url('../fonts/la-oriental.regular-webfont.woff2') format('woff2'),
         url('../fonts/la-oriental.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* resets */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lycans;
    background: #2f3338;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

/* header and nav */
.main-header {
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
}

/* logo */
.logo {
    width: 25%;
    height: auto;
}

.logo img {
    display: inline-flex;
    vertical-align: middle;
    width: 15%;
    height: auto;
}

/* menu */
.desktop-menu ul {
    display: flex;
}

.desktop-menu li {
    position: relative;
    margin-right: 25px;
    padding-bottom: 2px;
    text-shadow: #000000 3px 3px 3px;
}

.desktop-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19,1,0.22,1);
}

.desktop-menu ul li a:hover::after {
    transform: scaleX(1);
}

/* sections */
section {
    position: relative;
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

/* banner */
.main-banner {
    background-image: url(../imgs/home-banner.webp);
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.section-inner {
    text-align: center;
    font-size: xx-large;
    text-shadow: #000000 0px 0px 10px;
    padding-top: 80vh;
}

.section-inner h2 {
    margin-bottom: 10px;
}

.section-inner .button {
    font-family: lycans;
    font-size: 75%;
    text-shadow: none;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 15px 50px;
    width: 20vw;
    transition: background 0.5s;
}

.section-inner .button:hover {
    cursor: pointer;
    background: rgb(182, 181, 181);
}

/* karate section */
.karate-section {
    background-image: url(../imgs/karate-img.png);
}